:root {
  --dark-bg: #212D3A;
  --body-copy-color: #707070;
  --primary-cta-color: #7A0000;
  --secondary-color: #003475;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'EB Garamond', serif;
  --transition-all: all 0.25s ease;
}

/* barn red - #7A0000
dark cornflower blue - #003475
yale blue - #004993
ultra red - #FF6978
baby powder - #FFFCF9 */


.container { max-width: 1240px; }
h1, h2, h3, h4, h5, h6 { font-family: var(--secondary-font); }
p, li { font-family: var(--primary-font); }
a { color: var(--primary-cta-color); }
  a:hover, a:focus { color: var(--secondary-color); }
  
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,.85); }
.btn { border-radius: 5rem; padding: 0.5rem 1.5rem; }
.btn-outline-primary { color: var(--primary-cta-color); border-color: var(--primary-cta-color); }
.btn-outline-primary:hover, .btn-outline-primary:focus { background-color: var(--primary-cta-color); border-color: var(--primary-cta-color);  }

.home-banner { background-image: url('../images/chicago-1.jpeg'); background-size: cover; background-position: center center; background-color: rgba(0,0,0,0.6); background-blend-mode: darken; }
.home-banner .logo { width: 300px; }
.home-banner .hli svg { max-width: 2rem; fill: #FFF; transition: var(--transition-all); }
	.home-banner .hli svg:hover,
	.home-banner .hli svg:focus { opacity: 0.8; }

@media (min-width:768px) {
.calloutBorder { border-color: var(--primary-cta-color); border-style:solid; border-width:0 0 0 0.25rem; }
}
.content-overlap { margin-top: -5rem; background: white; padding-top:4rem; padding-bottom: 4rem; }

@media (min-width:565px) {
  .content-overlap { padding-left: 4rem; padding-right: 4rem; }
}
.btnos { background-image: url('../images/chicago-2.jpeg'); background-size: cover; background-position: center center; background-blend-mode: darken; background-color: rgba(0,0,0,0.6); }
.btnos-stat { font-size: 6rem; }

.atty-contact-info { display: inline-grid; grid-template-columns: min-content 1fr; column-gap: 1rem; }
  .atty-contact-info svg { width: 1rem; height: 1rem; fill: var(--primary-cta-color); margin-top: 0.3rem; }

#footer { background-color: var(--dark-bg); }
	#footer h3 { color: #FFF; }
	#footer p { color: #FFF; }
    #footer a { color: #FFF; transition: var(--transition-all); }
      #footer a:hover, #footer a:focus { color: rgba(255,255,255,0.7); }
.footer-quick-links { list-style-type: none; }
.copyright { font-size: 0.875rem; }