---
titleTag: Compliance Audit Services | Investment Advisors & Broker-Dealers
pageName: audit-services
description: Mallon & Johnson offers compliance auditing for investment advisors & broker-dealers in order to detect any compliance issues, and more importantly remediate them.
layout: 'base.njk'
---

<main>
	<section class="container">
		<div class="row content-overlap justify-content-center">
			<div class="col-md-7 text-center">
				<h1>Audit Services</h1>
				<p>As part of our services to clients, we also offer compliance auditing in order to detect any compliance issues and more importantly remediate them. For advisers and broker-dealers, these audits may take the form of a mock SEC or FINRA audit to prepare for SEC or FINRA registration, annual reviews that are required for investment advisers or due diligence reviews if an adviser or broker-dealer is contemplating acquiring or selling a business.</p>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/audits-pc.jpeg" alt="Investment Adviser" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>Investment Adviser</h2>
						<p>Mallon &amp; Johnson will conduct a complete examination of an investment adviser’s operations. This includes a review of the following:</p>
						<ul>
							<li>Advertising</li>
							<li>Advisory contracts</li>
							<li>Books and records</li>
							<li>Brokerage and execution</li>
							<li>Compliance Program</li>
							<li>Conflicts of interest</li>
							<li>Custody of client funds</li>
							<li>Data security</li>
							<li>Financial condition</li>
							<li>Form ADV, brochure disclosure and delivery</li>
							<li>Internal controls</li>
							<li>Marketing and performance calculations</li>
							<li>Performance</li>
							<li>Personal securities trading</li>
							<li>Portfolio Management</li>
							<li>Soft dollar arrangements</li>
							<li>Wrap fee program</li>
							<li>Regulation Best Interest</li>
						</ul>
						<p>Fees are generally quoted on a flat fee basis per day with an approximation of the number of days it will take to complete the audit. In addition, if travel is involved, the client will be responsible for travel.</p>
					</div>
				</div>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/broker-dealer.jpeg" alt="Broker-Dealers" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>Broker-Dealers</h2>
						<p>Our goal is to correct compliance problems before the SEC, FINRA, state or another regulatory agency arrives. To this end, Mallon &amp; Johnson conducts broker-dealer examinations that provide comprehensive reviews of existing and new regulations implemented by these regulatory bodies, and can include reviews of the following areas:</p>
						<ul>
							<li>Supervisory Controls</li>
							<li>Business Continuity Planning</li>
							<li>Email Retention Procedures</li>
							<li>Order Audit Trail System (OATS) Reporting</li>
							<li>Sales of New Products</li>
							<li>Use of Electronic Systems</li>
							<li>OSJ and Branch Office Supervision</li>
							<li>Municipal Transaction Reporting</li>
							<li>Best Execution Mark-Ups</li>
							<li>Continuing Education Requirements</li>
							<li>Supervision of Representatives Outside Activities</li>
						</ul>
						<p>Initially, to determine the extent of the review and cost, we meet with supervisory personnel, review the firm's Form B-D, past quarterly and annual filings, and written supervisory procedures. From there fees are determined on a per day basis, with a flat fee per day.</p>
					</div>
				</div>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/aml-audits.jpeg" alt="AML Audits" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>AML Audits</h2>
						<p>Mallon &amp; Johnson conducts independent testing of a firm’s AML program. Barbara Mallon and examiners conducting the independent testing are Certified Anti-Money Laundering Specialists<sup>&reg;</sup>. Generally, our testing will encompass the following:</p>
						<ul>
							<li>AML Officer's role;</li>
							<li>AML Written Procedures</li>
							<li>Customer identification procedures;</li>
							<li>Beneficial owners and control person identification;</li>
							<li>Customer verification procedures;</li>
							<li>Cashiering procedures;</li>
							<li>Wire transfers;</li>
							<li>Detection and reporting of suspicious activities;</li>
							<li>OFAC checks;</li>
							<li>Training of Employees concerning AML; and</li>
							<li>314(a) and (b) requests.</li>
						</ul>
						<p>Fees are charged on a per diem basis with a flat fee per day.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>