---
titleTag: Chicago Attorney Barbara Mallon | Securities Regulation & Consulting
pageName: barbara-mallon
description: Mallon & Johnson is a Chicago law firm with a national practice concentrated in securities regulation, securities consulting and related litigation.
layout: 'base.njk'
---

<main>
	<section class="container">
		<div class="row content-overlap">
			<div class="col-md-4 text-center text-md-start">
				<img src="/images/barbara-mallon-attorney.jpeg" alt="Barbara Mallon" class="img-fluid rounded-circle" />
				<h2 class="mt-4">Barbara Mallon</h2>
				<div class="atty-contact-info">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
					<p class="text-start"><a href="tel:+13123468892">(312) 346-8892</a></p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M192 64h197.5L416 90.51V160h64V77.25c0-8.484-3.375-16.62-9.375-22.62l-45.25-45.25C419.4 3.375 411.2 0 402.8 0H160C142.3 0 128 14.33 128 32v128h64V64zM64 128H32C14.38 128 0 142.4 0 160v320c0 17.62 14.38 32 32 32h32c17.62 0 32-14.38 32-32V160C96 142.4 81.63 128 64 128zM480 192H128v288c0 17.6 14.4 32 32 32h320c17.6 0 32-14.4 32-32V224C512 206.4 497.6 192 480 192zM288 432c0 8.875-7.125 16-16 16h-32C231.1 448 224 440.9 224 432v-32C224 391.1 231.1 384 240 384h32c8.875 0 16 7.125 16 16V432zM288 304c0 8.875-7.125 16-16 16h-32C231.1 320 224 312.9 224 304v-32C224 263.1 231.1 256 240 256h32C280.9 256 288 263.1 288 272V304zM416 432c0 8.875-7.125 16-16 16h-32c-8.875 0-16-7.125-16-16v-32c0-8.875 7.125-16 16-16h32c8.875 0 16 7.125 16 16V432zM416 304c0 8.875-7.125 16-16 16h-32C359.1 320 352 312.9 352 304v-32C352 263.1 359.1 256 368 256h32C408.9 256 416 263.1 416 272V304z"/></svg>
					<p class="text-start">(312) 346-8896</p>				
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/></svg>
					<p class="text-start"><a href="mailto:bmallon@mallonandjohnson.com">bmallon@mallonandjohnson.com</a></p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
					<p class="text-start">120 North LaSalle Street<br>Suite 2100<br>Chicago, IL 60602-2423</p>
				</div>
				<div class="super-lawyers mt-3 mb-4 ms-3">
					<a href="https://profiles.superlawyers.com/illinois/chicago/lawyer/barbara-anne-mallon/83b9c406-d2b5-489a-9a68-bcc14108fd23.html" target="_blank" rel="noopener noreferrer"><img src="/images/mallon-badge-5years.png" alt="Barbara Anne Mallon - 5 Years SuperLawyers" width="181" height="150" class="img-fluid"></a>
				</div>
				<div class="avvo mb-5">
					<a href="http://www.avvo.com/attorneys/60602-il-barbara-mallon-1051492.html" target="Barbara Mallon" rel="noopener noreferrer"><img src="/images/av-logo.png" alt="AV Badge" class="img-fluid"></a>
				</div>
			</div>
			<div class="col-md-8">
				<p>Barbara Mallon is a principal in the law firm of Mallon &amp; Johnson, a firm concentrating its practice in securities regulation and litigation. Prior to co-founding Mallon &amp; Johnson, Ms. Mallon worked at the SEC for almost 10 years first as an enforcement attorney, and later as an attorney adviser for the Regulatory side. In that role, she counseled SEC examiners on investment company and investment adviser regulations, conducted legal reviews necessary for SEC examinations, and responded to public inquiries concerning advisers and mutual funds.</p>
			 	
				<h3 class="mt-4 pt-2">Maintaining Regulatory Compliance</h3> 
				<p>Ms. Mallon’s practice is focused exclusively on advising investment advisers, broker-dealers, and investment companies for the purpose of maintaining regulatory compliance for those entities. To that end, her primary activities in advising clients are the following:</p>
				<ol>
					<li>consulting on SEC, FINRA and state regulations and compliance with those regulations,</li>
					<li>preparing clients for regulatory examinations and assisting with deficiency letter responses,</li>
					<li>defending regulatory clients in SEC, FINRA, state and private actions regarding the same,</li>
					<li>conducting annual reviews, 3120 reviews, focused reviews, and AML testing for  regulated clients,</li>
					<li>assisting clients with registrations and form filings including Form BD, ADV, Part 1A and 2A, Form PF and ancillary state filings, and,</li>
					<li>training clients’ representatives through Firm Element training and annual compliance meetings in order to meet regulatory obligations and further a culture of compliance.</li>
				</ol>
				<p>Ms. Mallon has acted as an Independent Consultant for a variety of SEC cases.</p>
				<p>She received her law degree from the John Marshall Law School, and a B.A. in Political Science from Northwestern University. She has been listed in the National Registry of Who’s Who and as a Super Lawyer with SuperLawyers.com. She is currently listed in the Bar Register of Preeminent Lawyers and the Bar Register of Preeminent Women Lawyers. Ms. Mallon received a rating of “AV” from Martindale-Hubbell.</p>
				<h3 class="mt-4 pt-2">Honors &amp; Awards</h3>
				<ul>
					<li>National Registry of Who’s Who</li>
					<li>Rating of “AV” from Martindale-Hubbell</li>
					<li>Certified Anti-Money Laundering Specialist<sup>&reg;</sup></li>
					<li>Bar Register of Preeminent Lawyers</li>
					<li>Bar Register of Preeminent Women Lawyers</li>
				</ul>
				<h3 class="mt-4 pt-2">Memberships &amp; Affiliations</h3>
				<ul>
					<li>Member of Advisory Board of the Bank Insurance &amp; Securities Association (BISA)</li>
					<li>Member of ACAMS<sup>&reg;</sup></li>
					<li>Member of CBA, ISBA</li>
					<li>Volunteer Attorney with Chicago Volunteer Legal Services</li>
				</ul>
			</div>
		</div>
	</section>
</main>