---
titleTag: Chicago Attorney Barbara Mallon | Securities Regulation & Consulting
pageName: barbara-mallon
description: Mallon & Johnson is a Chicago law firm with a national practice concentrated in securities regulation, securities consulting and related litigation.
layout: 'base.njk'
---

<section class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="/images/barbara-mallon-attorney.jpeg" alt="Barbara Mallon" class="img-fluid rounded-circle" />
			<h2>Barbara Mallon</h2>
		</div>
		<div class="col-md-8">
			<p>Barbara Mallon is a principal in the law firm of Mallon &amp; Johnson, a firm concentrating its practice in securities regulation and litigation. Prior to co-founding Mallon &amp; Johnson, Ms. Mallon worked at the SEC for almost 10 years first as an enforcement attorney, and later as an attorney adviser for the Regulatory side. In that role, she counseled SEC examiners on investment company and investment adviser regulations, conducted legal reviews necessary for SEC examinations, and responded to public inquiries concerning advisers and mutual funds.</p>
			 
			<p>Ms. Mallon’s practice is focused exclusively on advising investment advisers, broker-dealers, and investment companies for the purpose of maintaining regulatory compliance for those entities. To that end, her primary activities in advising clients are the following:</p>
			<ol>
				<li>consulting on SEC, FINRA and state regulations and compliance with those regulations,</li>
				<li>preparing clients for regulatory examinations and assisting with deficiency letter responses,</li>
				<li>defending regulatory clients in SEC, FINRA, state and private actions regarding the same,</li>
				<li>conducting annual reviews, 3120 reviews, focused reviews, and AML testing for  regulated clients,</li>
				<li>assisting clients with registrations and form filings including Form BD, ADV, Part 1A and 2A, Form PF and ancillary state filings, and,</li>
				<li>training clients’ representatives through Firm Element training and annual compliance meetings in order to meet regulatory obligations and further a culture of compliance.</li>
			</ol>
			<p>Ms. Mallon has acted as an Independent Consultant for a variety of SEC cases.</p>
			<p>She received her law degree from the John Marshall Law School, and a B.A. in Political Science from Northwestern University. She has been listed in the National Registry of Who’s Who and as a Super Lawyer with SuperLawyers.com. She is currently listed in the Bar Register of Preeminent Lawyers and the Bar Register of Preeminent Women Lawyers. Ms. Mallon received a rating of “AV” from Martindale-Hubbell.</p>

		</div>
	</div>
</section>