---
titleTag: Chicago Attorney Dexter B. Johnson | Investment Adviser Compliance
pageName: dexter-b-johnson
description: Mallon & Johnson is a Chicago law firm with a national practice concentrated in securities regulation, securities consulting and related litigation.
layout: 'base.njk'
---

<main>
	<section class="container">
		<div class="row content-overlap">
			<div class="col-md-4 text-center text-md-start">
				<img src="/images/dbj.jpeg" alt="Dexter B. Johnson - photo missing" class="img-fluid rounded-circle" loading="lazy" />
				<h2 class="mt-4">Dexter B. Johnson</h2>
				<div class="atty-contact-info">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
					<p class="text-start"><a href="tel:+13123468890">(312) 346-8890</a></p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/></svg>
					<p class="text-start"><a href="mailto:djohnson@mallonandjohnson.com">djohnson@mallonandjohnson.com</a></p>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
					<p class="text-start">332 S. Michigan<br>Suite 900<br>Chicago, IL 60604</p>
				</div>
				<div class="avvo mt-3">
					<a href="https://www.avvo.com/attorneys/60602-il-dexter-johnson-1140611.html" target="Dexter B. Johnson" rel="noopener noreferrer"><img src="/images/avvo-rating.png" loading="lazy" class="border" alt="Avvo Badge"></a>
				</div>
				<div class="mt-4 mb-5">
					<div id="super_lawyers_badge" style="margin: 0 auto; padding: 0; line-height: 1; font-size: 1em; font: 100 0.8em/1em 'Arial',sans-serif; position: relative; outline: none; border: none;">
					<div id="large_super_lawyers_badge" style="margin: 0 auto; padding_top: 20px; height: 150px; width: 180px; background-image: url('https://cdn.superlawyers.com/image/upload/v1601999968/resources/superlawyers/badge/basic/Large_red.png'); text-align: center; outline: none; border: none; line-height: 1; font-size: 100%;">
					<table dir="ltr" style="margin: 0px; padding: 0px; outline: none; border: none; width: 180px;" border="0" summary="" frame="void" rules="none" cellspacing="0" cellpadding="0">
					<tbody>
					<tr style="height: 75px; vertical-align: bottom; margin: 0; padding: 0; outline: none; border: none;" align="center" char="" charoff="" valign="bottom">
					<td style="margin: 0; padding: 0; outline: none; border: none;" colspan="1" rowspan="1" align="center" valign="bottom"> </td>
					</tr>
					<tr style="margin: 0; padding: 0; line-height: 1; font-size: 100%; outline: none; border: none;" align="center" char="" charoff="" valign="middle">
					<td style="height: 0px; vertical-align: middle; margin: 0; padding: 0 10px; line-height: 1; font-size: 100%; outline: none; border: none;" colspan="1" rowspan="1" align="center" valign="middle"><a style="height: 40px; width: 150px; display: block; text-decoration: none; margin: 0; padding: 0; line-height: 1; text-align: center; font-family: arial,sans-serif; color: #ffffff; font-size: 16px; font-weight: bold; outline: none; border: none;" title="View the profile of Illinois Securities Litigation Attorney Dexter B. Johnson" href="https://profiles.superlawyers.com/illinois/chicago/lawyer/dexter-b-johnson/cfbe5e1f-1168-4b54-a6cb-593d333ce3d1.html" target="_blank" rel="noopener nofollow">Dexter Johnson</a></td>
					</tr>
					<tr style="margin: 0; padding: 0; line-height: 1; font-size: 100%; outline: none; border: none;" align="center" char="" charoff="" valign="bottom">
					<td style="height: 26px; vertical-align: bottom; margin: 0; padding: 0; line-height: 1; font-size: 100%; outline: none; border: none;" colspan="1" rowspan="1" align="center" valign="bottom"> </td>
					</tr>
					</tbody>
					</table>
					</div>
					</div>
					<div style="display: none;"><img src="https://cdn.superlawyers.com/image/upload/q_auto,f_auto/v20201006/resources/superlawyers/assets/gifs/blank.gif" alt="pixel" width="1" height="1" border="0" /></div>
					<p><!-- end super lawyers badge -->
				</div>
			</div>
			<div class="col-md-8">
				<p>His practice includes advising investment advisers, financial planners, broker-dealers, hedge funds, CPA firms, their registered personnel, and public and private companies to navigate the maze of securities regulation that impact success. His lengthy experience includes advising, litigating and serving as lead counsel on all phases of regulatory examinations and investigations, registration, enforcement defense, internal investigations, handling related litigation and arbitrations, and conducting due diligence and advising in mergers and acquisitions of financial service firms.</p>
					
				<p>He has more than 35 years experience in securities and financial regulatory and related litigation matters. His regulatory and litigation experience has encompassed virtually every type of securities dispute imagined, including insider trading, fraud and misrepresentations in offerings and financial transactions, churning, unsuitability, unauthorized trading, breach of fiduciary duty, illegal or excessive markups, selling away, political contributions, anti-money laundering, margin violations, clearing broker liability, books and records violations, anti-money laundering, and failure to supervise issues, and SEC whistleblower claims.</p>
					
				<p>Prior to co-founding Mallon &amp; Johnson, he worked at the United States Securities and Exchange Commission. While with the SEC, Mr. Johnson prosecuted enforcement actions in both the public and private sector involving securities fraud, including, accounting fraud, investment adviser and broker-dealer rule violations, Ponzi schemes, and books and records violations. Prior to that Mr. Johnson was in private practice where his practice involved financial litigation and regulation.</p>
				
				<h3 class="mt-4 pt-2">Education &amp; Experience</h3>
				<p>Mr. Johnson is a member of the Illinois bar and the federal bar of the Northern District of Illinois. He has been admitted to practice Pro Hac Vice in numerous other states. He received his law degree from Georgetown University Law Center, where he was a law review editor for the American Criminal Law Review. He received his B.B.A from the University of Miami, Florida. After law school, Mr. Johnson served for two years as a judicial law clerk to a United States Federal District Court Judge. In the past he has served as Co-Chair of the Securities Law Committee of the Chicago Bar Association; Vice Chair of the Securities Law Committee of the Chicago Bar Association; and Co-Chair of the Securities Litigation and Enforcement Committee of the Chicago Bar Association.</p>
				
				<h3 class="mt-4 pt-2">Published Author, Recognized by Peers</h3>
				<p>He writes and publishes the <a href="https://theiprblog.com" target="_blank" rel="noopener">Investment Professional Regulations Blog</a>; a blog analyzing and discussing topics critical to professionals working in the securities industry.  He has appeared in Illinois Super Lawyers, as one of the top five percent of attorneys in the practice area of securities litigation in the State of Illinois (as chosen by their peers and through independent research and survey of 47,000 attorneys).</p>
				
				<p>Besides his blog featuring numerous securities regulation topics, his written publications in the securities arena have included, a chapter in the Illinois Institute for Continuing Legal Education's Securities Law series entitled "Key Considerations in the Private Placement of Securities." He has written articles on white-collar crime, insider trading, and retail brokerage litigation. Some of the articles written include:</p>
				<ul>
					<li>"The Role of Institutional Investors After the Securities Reform Act: Will Institutional Investors Act as Lead Plaintiff?" <em>Securities Regulation Law Journal</em> (Winter 1998);</li>
					<li>"Staying Out of Trouble with the SEC: Tips for the Brokerage Firm," <em>The Practical Lawyer</em> (January 1998);</li>
					<li>"No One Escapes: Why Managers are liable for the Wrongdoing of subordinates," <em>Registered Representative Magazine, Volume 21 Number 10</em> (October 1997)</li>
				</ul>
				<p>He has also co-authored "SEC Enforcement," a chapter in the securities manual published by the Illinois Institute for Continuing Legal Education.</p>
			 	
				<h3 class="mt-4 pt-2">Practice Areas</h3>
				<ul>
					<li>Investment Adviser Compliance</li>
					<li>Broker-dealer Compliance</li>
					<li>Hedge Fund Compliance</li>
					<li>SEC, FINRA and state Enforcement Defense</li>
					<li>SEC/FINRA Examinations and Investigations</li>
					<li>Securities Litigation and Arbitrations</li>
					<li>Internal Investigations</li>
					<li>Enterprise Risk Management Assessments</li>
					<li>SEC Whistleblower Complaints</li>
					<li>Due Diligence: Securities Industry Mergers and Acquisitions</li>
					<li>License and Certification Revocation Proceedings: Certified Financial Planners, CPA, and Insurance Agents</li>
				</ul>
				
				<h3 class="mt-4 pt-2">Memberships &amp; Affiliations</h3>
				<ul>
					<li>Past Co-Chair Securities Law Committee of the Chicago Bar Association</li>
					<li>Former Attorney, U.S. Securities and Exchange Commission (Midwest Regional Office)</li>
					<li>American Bar Association</li>
					<li>Chicago Bar Association</li>
					<li>Illinois Super Lawyers</li>
					<li>Illinois State Bar Association</li>
				</ul>				
			</div>
		</div>
	</section>
</main>