---
titleTag: Securities Regulation Attorneys, Securities Consulting Lawyers | Mallon & Johnson | Chicago
pageName: Home
description: Mallon & Johnson is a Chicago law firm with a national practice concentrated in securities regulation, securities consulting and related litigation.
layout: 'base.njk'
---
   
        
        <div class="container my-5 pt-3">
          <div class="row align-items-center">
            <div class="col-md-4 pe-md-5">
              <p class="fs-3 lh-sm text-sm-center text-md-start">Advising clients about securities regulations that impact their business, and how to comply with those regulations.</p>
            </div>
            <div class="col-md-8 ps-md-5 calloutBorder">
              <p class="mt-2">MALLON &amp; JOHNSON is a law firm with a national practice concentrated in securities regulation, securities consulting and related litigation. Although the firm handles matters of varied size, as an overall goal we have made a concentrated effort to accept representation in complex and challenging securities law and regulatory matters.</p>
              <p>What sets our Chicago based firm apart is the substantial regulatory experience of our attorneys. Drawing on their years of experience as former attorneys at the Securities and Exchange Commission, including experience in the SEC's Office of Regulation, helps these lawyers provide investment advisers, broker-dealers, registered persons, SEC registered companies, individual investors and law firms with a unique insight into the regulatory environment.</p>
            </div>
          </div>
        </div>
        
        <section class="container pt-5">
          <div class="row justify-content-center">
            <div class="col-md-7 mb-5">
              <div class="row">
                <div class="col-md-8">
                  <h2>Legal Services</h2>
                  <p>Mallon &amp; Johnson primarily provides legal services to investment advisers, broker-dealers and investment companies. These services range from registering a firm and ensuring it is compliant with SEC and FINRA requirements, to consultations on advisory or brokerage matters, to mock SEC audits to representation in any securities related actions.</p>
                  <p><a href="/legal-services/" class="btn btn-outline-primary">Learn More</a></p>
                </div>
                <div class="col-md-4">
                  <img src="images/investments-pc.jpeg" alt="Legal Services" class="img-fluid rounded-circle" />
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-8">
                  <h2>Audit Services</h2>
                  <p>As part of our services to clients, we also offer compliance auditing in order to detect any compliance issues and more importantly remediate them. For advisers, these audits may take the form of a mock SEC audit to prepare for SEC registration, annual reviews that are required for investment advisers, or due diligent reviews if an adviser is contemplating acquiring or selling a business.</p>
                  <p><a href="/audit-services/" class="btn btn-outline-primary">Learn More</a></p>
                </div>
                <div class="col-md-4">
                  <img src="images/audits-pc.jpeg" alt="Audit Services" class="img-fluid rounded-circle" />
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="btnos my-5 py-5">
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <h1 class="text-white mb-4">By the Numbers</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="btnos-stat text-white lh-1">36</div>
                <p class="text-white text-uppercase">Years in Business</p>
              </div>
              <div class="col-md-4 text-center">
                <div class="btnos-stat text-white lh-1">7,000+</div>
                <p class="text-white text-uppercase">Cases Tried</p>
              </div>
              <div class="col-md-4 text-center">
                <div class="btnos-stat text-white lh-1">73</div>
                <p class="text-white text-uppercase">Years of Combined<br>Legal Experience</p>
              </div>
            </div>
          </div>
        </section>
        
        <section class="container mb-5">
          <div class="row">
            <div class="col text-center mb-4">
              <h1>Meet Our Attorneys</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img src="images/barbara-mallon-attorney.jpeg" alt="Barbara Mallon" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-8">
                  <h2>Barbara Mallon</h2>
                  <p>Ms. Mallon's practice is focused exclusively on advising investment advisers, broker-dealers, and investment companies for the purpose of maintaining regulatory compliance for those entities</p>
                  <p><a href="/barbara-mallon/" class="btn btn-outline-primary">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img src="images/dbj.jpeg" alt="Dexter B. Johnson" class="img-fluid rounded-circle" />
                </div>
                <div class="col-md-8">
                  <h2>Dexter B. Johnson</h2>
                  <p>Mr. Johnson's regulatory and litigation experience has encompassed virtually every type of securities dispute imagined, including insider trading, fraud and misrepresentation, churning, unsuitability&hellip;</p>
                  <p><a href="/barbara-mallon/" class="btn btn-outline-primary">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        