---
titleTag: Chicago Attorneys for Investment Advisers & Broker-Dealers
pageName: legal-services
description: Mallon & Johnson's legal services range from registering a firm and ensuring it is compliant with SEC and FINRA requirements, to consultations on advisory or brokerage matters, to mock SEC audits to representation in any securities related actions.
layout: 'base.njk'
---

<main>
	<section class="container">
		<div class="row content-overlap justify-content-center">
			<div class="col-md-7 text-center">
				<h1>Legal Services</h1>
				<p>Mallon &amp; Johnson primarily provides legal services to investment advisers, broker-dealers and investment companies, and related registered persons. These services range from SEC, FINRA and State securities enforcement proceedings defense, registering a firm and ensuring it is compliant with SEC and FINRA requirements, to internal investigations and consultations on advisory or brokerage matters, to mock SEC audits to representation in any securities related actions, and broker-dealer litigation and arbitration.</p>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/audits-pc.jpeg" alt="Investment Advisors" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>Investment Advisers</h2>
						<p>Mallon &amp; Johnson offers the following legal services in relation to Investment Advisers:</p>
						<ul>
							<li>Responding to SEC deficiency letters</li>
							<li>Preparing and updating the Form ADV and Form CRS, and filing amendments</li>
							<li>Preparation and support for SEC investment adviser examinations</li>
							<li>On Site Attendance at SEC examinations</li>
							<li>Representation of adviser and personnel in SEC enforcement actions</li>
							<li>Assistance with compliance with SEC orders</li>
							<li>Drafting of workable policies and procedures manuals and forms</li>
							<li>Consultations re: all advisory matters</li>
							<li>Preparation of 13F and 13G filings</li>
							<li>Registration of SEC and state investment advisers</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/broker-dealer.jpeg" alt="Broker-Dealers" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>Broker-Dealers</h2>
						<p>Mallon &amp; Johnson offers the following legal services in relation to Broker-Dealers:</p>
						<ul>
							<li>Registering firms as broker-dealers with FINRA and states, along with their agents</li>
							<li>Conducting an independent test of a firm's AML and 3120 procedures</li>
							<li>Advising firms on FINRA, SEC and state securities regulations</li>
							<li>Drafting written supervisory procedures</li>
							<li>Representing broker-dealers and registered representatives in regulatory investigations and proceedings before FINRA and the SEC</li>
							<li>Defending against arbitration claims relating to client complaints, unlawful terminations, and other employee firms</li>
							<li>Preparing broker-dealers for FINRA and SEC examinations</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/securities-litigation.jpeg" alt="Securities Litigation/Defense" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>Securities Litigation/Defense</h2>
						<p>Mallon &amp; Johnson offers the following legal services in relation to Securities Litigation/Defense:</p>
						<ul>
							<li>Representing broker-dealers, investment advisers, and registered persons in SEC, FINRA, CBOE and State enforcement investigations and proceedings</li>
							<li>Representing regulated entities in private FINRA arbitration claims including broker-dealer disputes</li>
							<li>Representing individuals in professional licensure investigations and enforcement actions such as CFP.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 mt-5">
				<div class="row justify-content-center">
					<div class="col-md-3">
						<img src="/images/mutual-funds.jpeg" alt="Mutual Funds" class="img-fluid rounded-circle mt-0 mt-md-3 mb-4 mb-md-0" />
					</div>
					<div class="col-md-7">
						<h2>Mutual Funds</h2>
						<p>Mallon &amp; Johnson offers the following services for investment companies:</p>
						<ul>
							<li>Assistance with 38a-1 annual review</li>
							<li>Regulatory guidance concerning investment company issues</li>
							<li>Drafting of policies and procedures for mutual funds</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>