---
titleTag: Privacy Policy | DB Johnson Law
pageName: privacy-policy
description: We understand the importance of your privacy and strive to take all reasonable efforts to be transparent about what information we collect about you and to safeguard that information against intrusion or misuse.
layout: 'base.njk'
---

<main>
	<section class="container">
		<div class="row content-overlap justify-content-center">
			<div class="col-md-8">
				<h1>Privacy Policy</h1>
				<p>Last updated: March 18, 2022</p>
				<p>We understand the importance of your privacy and strive to take all reasonable efforts to be transparent about what information we collect about you and to safeguard that information against intrusion or misuse. Except as required by a court or other lawful order, we will never re-distribute or sell personal information collected on our web servers.</p>
				<p>This privacy policy details the ways in which we collect information about you, what information we collect, and what we do with that information. You can always visit this page for the most up-to-date version of this privacy policy.</p>
				<h2>Collection and Use of Information</h2>
				<p>We collect two types of information from our visitors: anonymous information and personal information.</p>
				<h4>Anonymous Information</h4>
				<p>You do not have to provide any personal information to use many of the features of this website. However, your web browser or application may automatically provide certain information about you (“anonymous information”), such as your IP address, which may include your geographic location; details about browser software, operating system, and device; access dates and times; and referring and exiting URLs.</p>
				<p>We use this information, both individually and in the aggregate, to help us understand how visitors use our site and to improve our content and your experience visiting our site. We may retain this type of information indefinitely, or to the extent permissible by law.</p>
				<h4>Personal Information</h4>
				<p>Our website may contain certain features, such as contact forms, where you have the option to affirmatively provide information about yourself (“personal information”). You may be asked to provide personal information, including your name, address, email address, and telephone number(s). You have no obligation to use these features of our website. If you choose to provide us with personal information by submitting a contact form on this website, we may use that information to contact you back and to improve subsequent communications with you, if any. We may also use your voluntarily submitted personal information to keep you informed of law firm news and events, but only if you are provided the opportunity to opt out of that type of use (see Removal of Information and Opting Out section, below). We will seek your affirmative consent before using your personal information for any purpose other than those described in this policy.</p>
				<p>Information transmitted on the internet, including via the contact forms on our website, is not secure and should not be considered confidential. The submission of a form on our website does not constitute attorney–client communication and does not create an attorney–client relationship.</p>
				<p>Our website also may provide a third-party “Live Chat” feature, with which you can choose to provide personal information to the firm. Information provided on the Live Chat feature is not confidential, and your use of Live Chat does not constitute attorney–client communications and does not create an attorney–client relationship. If you choose to provide us with personal information by using the Live Chat feature, we may use that information to contact you back and to improve subsequent communications with you, if any.</p>
				<p>The third-party Live Chat provider has its own privacy policy, which we encourage you to review. We are not responsible for the privacy policies of any third parties, including the Live Chat provider.</p>
				<p><strong>Do not disclose confidential information, including any information that may expose you to civil or criminal liability, via contact forms or Live Chat on this website.</strong></p>
				<p>We may retain information collected from contact forms and Live Chat indefinitely, or to the extent permissible by law.</p>
				<h2>Use of Cookies</h2>
				<p>We use “cookies” (small data files) to improve our website’s functionality and our visitors’ experience. These cookies do not identify you personally or give us access to your computer. You can disable cookies in your browser or application settings, but doing so may result in reduced website functionality. By visiting our website and not disabling cookies, you consent to our use of cookies for the purposes described in this policy.</p>
				<p>We use a third-party analytics provider (Google Analytics) to help us understand how visitors use our site. Google Analytics uses cookies to collect information about our visitors, but it does not receive personally identifiable information through these cookies and is prohibited from combining, matching, or cross-referencing information from our site with any other information. You can review the <a href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank" rel="noopener nofollow">Google Analytics privacy policy</a> for additional information.</p>
				<p>Our website may also use the Google AdWords “remarketing” service to serve advertising on third-party websites (including Google) to previous visitors of our site. This service also uses cookies, and any information collected will be in accordance with this privacy policy and <a href="https://policies.google.com/technologies/ads" target="_blank" rel="noopener nofollow">Google’s privacy policy</a>.</p>
				<h2>Distribution of Collected Information</h2>
				<p>We will not disclose, without your consent, personal information collected about you, unless we are required to do so by law. In certain limited circumstances, and in compliance with applicable laws, we may share personal information with government authorities or others as required to protect the firm or certain third parties; or as otherwise required for compliance with applicable law or legal process. We will not distribute or sell personal information to third-party organizations.</p>
				<h2>Do Not Track Requests</h2>
				<p>We do not respond or otherwise take any action with regard to “Do Not Track” requests.</p>
				<h2>Third Parties and External Links</h2>
				<p>Some pages on our website may contain hyperlinks to websites of third parties. We take no responsibility for third-party content or websites, nor for any information you disclose to third parties by visiting their websites.</p>
				<h2>Removal of Information and Opting Out</h2>
				<p>Users seeking to opt out of receiving communications from the firm may reply to any marketing communication with the subject line “unsubscribe.”</p>
			</div>
		</div>
	</section>
</main>